<footer class="bg-black pv4 white center">
        <section class="w-40 center">
            <div class="di fl w-50"><a href="/" class="nohover link">Home</a></div>
            <div class="di fl w-50"><a href="/aboutus" class="nohover link">Contact</a></div>
        </section>
        <section class="pr4">
            <div class="di tc fr">
                <a href="https://gitter.im/snas/general"><img src="https://badges.gitter.im/snas/general.png"></a>
            </div>
        </section>
</footer>

<script src="/js/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/app.js"></script>

</body>

</html>
