<footer class="bg-black ph1 pv5 white center">
        <section class="w-40 center">
            <div class="di tc fl w-50"><a href="/" class="nohover link">Home</a></div>
            <div class="di tc fl w-50"><a href="/aboutus" class="nohover link">Contact</a></div>
        </section>
</footer>

<script src="/js/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/app.js"></script>

</body>

</html>
