<footer class="footer">
    <div class="container-fluid">
        <div class="row bg-black white p-md-3 justify-content-md-center">
            <div class="col text-center ">
                <a href="/" class="link font-weight-bold">Home</a>
            </div>
            <div class="col text-center">
                <a href="/aboutus" class="link font-weight-bold">Contact</a>
            </div>
            <div class="col-md-3 text-right">
                <a href="https://gitter.im/snas/general"><img src="https://badges.gitter.im/snas/general.png"></a>
            </div>
        </div>
        <div class="row bg-black p-2" style="color: #cccccc">
            <p style="font-size: 1em;">
            Copyright © 2018 Streaming Networks Analytics System a Series of LF Projects, LLC
            <br/>
            For web site terms of use, trademark policy and general project policies please see
            <a class="link font-weight-bold" href="https://lfprojects.org">https://lfprojects.org</a>
            </p>
        </div>
    </div>

</footer>

<script src="/js/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/app.js"></script>

</body>

</html>
