<!doctype html>
<html lang="en-US">
	<head>
		<title>{{.Title}} | SNAS </title>
		<link rel="stylesheet" href="/css/hamburgers.css"/>
		<link rel="stylesheet" href="/css/bootstrap.min.css"/>
		<link rel="stylesheet" href="/css/font-awesome.min.css"/>
		<link rel="stylesheet" href="/css/main.css"/>
		<link rel="stylesheet" href="/css/md-default.css"/>
		<link rel="stylesheet" href="/css/sidebar.css"/>
		<link rel="stylesheet" href="/css/custom.css"/>


		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!--<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">-->


		<link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,700" rel="stylesheet">

		<!-- Favicons -->
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
		<link rel="icon" type="image/ico" href="/favicon.ico" sizes="32x32">
		<link rel="icon" type="image/ico" href="/favicon.ico" sizes="16x16">
		<link rel="manifest" href="/manifest.json">
		<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#ff4400">
		<meta name="theme-color" content="#fff">

		<!-- Open Graph -->
		<meta property="og:type" content="business.business">
		<meta property="og:title" content="SNAS | Streaming Network Analytics System">
		<meta property="og:url" content="http://snas.io/">
		<meta property="og:image" content="http://kaldi.netlify.com/og-image.jpg">
	</head>

	<body class="sans-serif">
