<nav class="overflow-x-scroll overflow-x-visible-ns flex justify-between items-center center bg-white divider-grey relative">

	<!-- Logo -->
	<a href="/" class="pa3 db mr4 h-100 w3 flex-none">
		<img src="/img/logo.svg" alt="SNAS logo" class="br0 db mb0 w-100"/>
	</a>

	<!-- Primary Nav -->
	<ul class="flex b grey-3">
		<li><a href="/explore" class="pa3 no-underline db">Explore</a></li>

		<li><a href="/deploy" class="pa3 no-underline db">Deploy</a></li>

		<li><a href="/develop" class="pa3 no-underline db">Develop</a></li>

		<li><a href="/post" class="pa3 no-underline db">Blogs</a></li>

		<li><a href="/aboutus" class="pa3 no-underline db">About Us</a></li>

	</ul>

</nav>
