<nav class="overflow-y-scroll overflow-x-visible-ns flex justify-between items-center center bg-white divider-grey relative">

	<!-- Logo -->
	<a href="/" class="pa3 db mr4 h-100 w4 flex-none">
		<img src="/img/SNAS_logo/SNAS_large_svg/SNAS_logo_OrangeBlue-01.svg" alt="SNAS logo" class="br0 db mb0 w-100"/>
	</a>

	<!-- Primary Nav -->
	<ul class="flex b grey-3 desktop-menu no-list-style">
		<li><a href="/news" class="f3 pa3 no-underline db">News</a></li>

		<li><a href="/docs" class="f3 pa3 no-underline db">Docs</a></li>

		<li><a href="/tutorials" class="f3 pa3 no-underline db">Tutorials</a></li>

		<li><a href="/demo" class="f3 pa3 no-underline db">Demo</a></li>

		<li><a href="/aboutus" class="f3 pa3 no-underline db">About Us</a></li>

		<li><a href="/charter/SNAS-Technical-Charter.pdf" target="_blank"
			    class="f3 pa3 no-underline db">Charter</a></li>

	</ul>

	<div id="mySidenav" class="sidenav mobile-menu">
		<a href="/news" class="f3 pa3 no-underline db">News</a>
		<a href="/docs" class="f3 pa3 no-underline db">Docs</a>
		<a href="/tutorials" class="f3 pa3 no-underline db">Tutorials</a>
		<a href="/demo" class="f3 pa3 no-underline db">Demo</a>
		<a href="/aboutus" class="f3 pa3 no-underline db">About&nbsp;Us</a>
		<a href="/charter" class="f3 pa3 no-underline db">Charter</a></li>
	</div>

	<ul class="flex b grey-3 mobile-menu">
		<div class="hamburger hamburger--elastic" tabindex="0" onclick="toggleNav()"
			 aria-label="Menu" role="button" aria-controls="navigation">
			<div class="hamburger-box">
				<div class="hamburger-inner"></div>
			</div>
		</div>
	</ul>

	<script>
		function toggleNav() {
			if (document.getElementById("mySidenav").classList.contains('sidenav-opened')) {
			    document.getElementById("mySidenav").classList.remove('sidenav-opened');
		    } else {
		    	document.getElementById("mySidenav").classList.add('sidenav-opened');
		    }
		}

		/**
		* forEach implementation for Objects/NodeLists/Arrays, automatic type loops and context options
		*
		* @private
		* @author Todd Motto
		* @link https://github.com/toddmotto/foreach
		* @param {Array|Object|NodeList} collection - Collection of items to iterate, could be an Array, Object or NodeList
		* @callback requestCallback      callback   - Callback function for each iteration.
		* @param {Array|Object|NodeList} scope=null - Object/NodeList/Array that forEach is iterating over, to use as the this value when executing callback.
		* @returns {}
		*/
		var forEach=function(t,o,r){if("[object Object]"===Object.prototype.toString.call(t))for(var c in t)Object.prototype.hasOwnProperty.call(t,c)&&o.call(r,t[c],c,t);else for(var e=0,l=t.length;l>e;e++)o.call(r,t[e],e,t)};
			var hamburgers = document.querySelectorAll(".hamburger");
			if (hamburgers.length > 0) {
				forEach(hamburgers, function(hamburger) {
					hamburger.addEventListener("click", function() {
					this.classList.toggle("is-active");
				}, false);
			});
		}
	</script>


</nav>
