{{ partial "head" . }}

{{ partial "nav" . }}

<div class="mw7 center ph3 pv4">
	<h1 class="f2 lh-title b mb3">Interact</h1>
	<div class="flex justify-between grey-3">
	</div>
	<div class="wide-p mw7">
		<p>Analyze network data using kafkacat and simple linux utilities like awk. In the example below, kafka data is
			filtered to to show only prefixes originated by AS 300-</p>
		<img src="/img/prefix_orig_as_output_for_website.png" alt="" class="left db mb1" style="width: 740px">

		<p>Or use the UI to do a similar analysis of a BGP AS-</p>
		<img src="/img/AS_analyze_view_for_website.png" alt="" class="left db mb1" style="width: 740px">

		<p>View historical data about a particular prefix using the UI-</p>
		<img src="/img/Prefix_analyze_view_for_website.png" alt="" class="left db mb1" style="width: 740px">

		<p><br>See many more <a href="/docs/examples">examples</a> including security analysis using Internet Routing Registry (IRR) databases and
		BGP Resource Public Key Infrastructure (RPKI) to perform Origin-AS validation.</p>
	</div>
</div>

{{ partial "footer" . }}
