{{ partial "head" . }}

{{ partial "nav" . }}

<div class="ph3 bg-off-white">
	<div class="center mw6 pv3">

		<img src="/img/logo.svg" alt="" class="db w4 center pv4">

		<p>SNAS is a Linux Foundation Project licenced under <a href="http://www.eclipse.org/legal/epl-v10.html">Eclipse Public License v1.0</a></p>

		<h3 class="f4 b lh-title mb2"></h3>

		<div class="flex-ns mb3">

			<div>
				<h4 class="f4 b lh-title mb2 primary">Contacts</h4>
				<p>Tim Evens (tievens@cisco.com)</p>
				<p>Serpil Bayraktar (serpil@cisco.com)</p>
			</div>

		</div>

		<!--{{ partial "contact-form" . }}-->

	</div>
</div>

{{ partial "footer" . }}
