{{ partial "head" . }}

{{ partial "nav" . }}

<div class="ph3 bg-off-white">
	<div class="center mw6 pv3">

		<img src="/img/logo.svg" alt="" class="db w4 center pv4">

		<p>SNAS is a Linux Foundation Project.</p>

		<h3 class="f4 b lh-title mb2"></h3>
		<a href="http://www.eclipse.org/legal/epl-v10.html">Licenced under Eclipse Public License v1.0</a>
		<!--<p>Licenced under Eclipse Public License v1.0 http://www.eclipse.org/legal/epl-v10.html </p>-->

		<div class="flex-ns mb3">

			<div>
				<h4 class="f4 b lh-title mb2 primary">Location</h4>
				<p>3700 Cisco Way San Jose CA 95134</p>
			</div>

			<!--<div>-->
				<!--<h4 class="f4 b lh-title mb2 primary">Licencing</h4>-->
				<!--<p>Eclipse Public License v1.0 http://www.eclipse.org/legal/epl-v10.html</p>-->
			<!--</div>-->

		</div>

		{{ partial "contact-form" . }}

	</div>
</div>

{{ partial "footer" . }}
