html {
    position: relative;
    min-height: 100%;
    background-color: white;
    font-size: 1em;
}

h2 {
    font-size: 1.8rem;
}

body {
    margin: 0 0 10rem; /* bottom = footer height */
    min-height: 100%;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1rem;
    width: 100%;
}

@media only screen and (min-width:991px) {
    .mobile-menu {display:none;}
}

@media only screen and (max-width:990px) {
    .desktop-menu {display:none;}
}

a:focus,a:active {
    box-shadow: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
    color: inherit;
    /*color: #ff4400;*/
}

.bg-primary {
    background-color: #ff4400 !important;
    color: #f1f1f1;
    font-weight: bold;
}

.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

.sidenav-opened {
    width: 250px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, ange their colochr */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.wide-p p{
    max-width: 100%;
}

p {
    max-width: 90%;
    padding: 8px 8px 8px 8px;
}

#forkongithub a{
    background:#2b2523;
    color:#fff;
    text-decoration:none;
    font-family:arial, sans-serif;
    text-align:center;
    font-weight:bold;
    padding:5px 40px;
    font-size:.7rem;
    line-height:1.1rem;
    position:relative;
    transition:0.5s;
    z-index: inherit;
}

#forkongithub a:hover{
    background:#ff4400;
    color:#fff;
}

#forkongithub a::before, #forkongithub a::after {
    content:"";
    width:100%;
    display:block;
    position:absolute;
    top:1px;
    left:0;
    height:1px;
    background:#fff;
}

#forkongithub a::after{
    bottom:1px;
    top:auto;
}

@media screen and (min-width:200px){
    #forkongithub{
        position:absolute;
        display:block;
        top:0;
        right:0;
        width:220px;
        overflow:hidden;
        height:200px;
        z-index:9999;
    }
    #forkongithub a{
        width:250px;
        position:absolute;
        top:60px;
        right:-60px;
        transform:rotate(45deg);
        -webkit-transform:rotate(45deg);
        -ms-transform:rotate(45deg);
        -moz-transform:rotate(45deg);
        -o-transform:rotate(45deg);
        /*box-shadow:4px 4px 10px rgba(0,0,0,0.8);*/
        box-shadow:2px 2px 8px rgba(21, 20, 20, 1);
    }
}

