html {
    position: relative;
    min-height: 100%;
    background-color: white;
    font-size: 1em;
}

h2 {
    font-size: 1.8rem;
}

body {
    margin: 0 0 10rem; /* bottom = footer height */
    min-height: 100%;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1rem;
    width: 100%;
}

@media only screen and (min-width:991px) {
    .mobile-menu {display:none;}
}

@media only screen and (max-width:990px) {
    .desktop-menu {display:none;}
}

a:focus,a:active {
    box-shadow: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
    color: inherit;
    /*color: #ff4400;*/
}

.bg-primary {
    background-color: #ff4400 !important;
    color: #f1f1f1;
    font-weight: bold;
}

.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

.sidenav-opened {
    width: 250px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, ange their colochr */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.wide-p p{
    max-width: 100%;
}

p {
    max-width: 90%;
    padding: 8px 8px 8px 8px;
}

#sidebar .list-group {
    border: none;
}

#sidebar .list-group-item {
    font-size: 0.8em;
    border-radius: 0;
    /*background-color: #333;*/
    background-color: #fbfbfb;
    /*color: #ccc;*/
    color: #424040;
    /*border-color: #2c2c2c;*/
    border-color: #f1f1f1;
    border-left: 0;
    border-right: 0;
    padding-left: 10px;
    white-space: nowrap;
}

#sidebar .list-group .active {
    background-color: #f1f1f1;
    color: #ff4400;
}

#sidebar .list-group-item:hover {
    color: #ff4400;
    font-weight: bold;
}

/* highlight active menu */
#sidebar .list-group-item:not(.collapsed) {
    /*background-color: #222;*/
}

/* closed state */
#sidebar .list-group .list-group-item[aria-expanded="false"]::after {
    content: " \f0d7";
    font-family: FontAwesome;
    display: inline;
    text-align: right;
    padding-left: 5px;
}

/* open state - selected item */
#sidebar .list-group .list-group-item[aria-expanded="true"] {
    background-color: #4b5257;
    color: #f29916;
    font-weight: bold;
}
#sidebar .list-group .list-group-item[aria-expanded="true"]::after {
    content: " \f0da";
    font-family: FontAwesome;
    display: inline;
    text-align: right;
    padding-left: 5px;
}

/* level 1*/
#sidebar .list-group .collapse .list-group-item  {
    padding-left: 20px;
    background-color: #e6e6e6;
}

/* level 2*/
#sidebar .list-group .collapse > .collapse .list-group-item {
    padding-left: 30px;
    background-color: #d0d0d0;
}

/* level 3*/
#sidebar .list-group .collapse > .collapse > .collapse .list-group-item {
    padding-left: 40px;
    background-color: #cccccc;
}

@media (max-width:48em) {
    /* overlay sub levels on small screens */
    #sidebar .list-group .collapse.in, #sidebar .list-group .collapsing {
        position: absolute;
        z-index: 1;
        width: 190px;
    }
    #sidebar .list-group > .list-group-item {
        text-align: center;
        padding: .75rem .5rem;
    }
    /* hide caret icons of top level when collapsed */
    #sidebar .list-group > .list-group-item[aria-expanded="true"]::after,
    #sidebar .list-group > .list-group-item[aria-expanded="false"]::after {
        display:none;
    }
}

/* change transition animation to width when entire sidebar is toggled */
#sidebar.collapse {
    -webkit-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease;
    -webkit-transition-duration: .2s;
    -o-transition-duration: .2s;
    transition-duration: .2s;
}

#sidebar.collapsing {
    opacity: 0.8;
    width: 0;
    -webkit-transition-timing-function: ease-in;
    -o-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    -webkit-transition-property: width;
    -o-transition-property: width;
    transition-property: width;

}

