{{ partial "head" . }}

{{ partial "nav" . }}

{{ partial "jumbotron" (dict "imageUrl" "/img/background_image_01-01.png" "title" "What would you do if you had..." "subtitle" "Real-time routing data at your fingertips?") }}

{{ partial "short-text" (dict "heading" "SNAS" "text" "SNAS (Streaming Network Analytics System) is a framework to collect, track and access hundreds of millions of routing objects in real time.")}}

{{ partial "3-up" (dict "heading" "Interact, visualize and analyze BGP data" "description" "All BGP routing data parsed and accessible via centralized APIs. Distributed, low foot print collector leveraging a high performing message bus, make it possible for real time streaming analytics." "svg1" "img/icons/interact-01.svg" "text1" "Interact directly with Kafka to monitor your prefixes or use the database to view your routing tables." "buttonText1" "Read More" "buttonLink1" "/streaming " "svg2" "/img/icons/Visualize-01.svg" "text2" "Visualize routers, peers, top reports, prefix history, as paths and more using the extendible user interface." "buttonText2" "Read More" "buttonLink2" "/streaming " "svg3" "/img/icons/Analyse-01.svg" "text3" "Analyze prefix attributes as_paths and communities, segment-routing, ISIS/OSPF topologies real-time via the message bus or by accessing the stateful database." "buttonText3" "Read More" "buttonLink3" "/streaming ") }}

{{ partial "text-and-image-snas" (dict "heading" "Get Started" "text" "Coffee is an amazing part of human culture but it has a dark side too – one of colonialism and mindless abuse of natural resources and human lives. We want to turn this around and return the coffee trade to the drink’s exhilarating, empowering and unifying nature." "buttonText" "Start Now" "buttonLink" "/about") }}

{{ partial "2-up" (dict "heading" "Developer Integration" "description" "Integrate your existing applications and your management framework.Integrate your existing applications and your management framework." "svg1" "img/icons/Message_Bus-01.svg" "text1" "Message Bus Integration is cool and we need more text here blah blah blah" "buttonText1" "Read More" "buttonLink1" "/streaming " "svg2" "/img/icons/Database_API-01.svg" "text2" "Native or RESTful integration with database" "buttonText2" "Read More" "buttonLink2" "/streaming"  ) }}-->

{{ partial "demo" . }}

{{ partial "tutorials" . }}

{{ partial "docs" . }}

{{ partial "footer" . }}
