{{ partial "head" . }}

{{ partial "nav" . }}

<div class="mw7 center ph3 pv4">
    <h1 class="f2 lh-title b mb3">Interact</h1>
    <div class="flex justify-between grey-3">
    </div>
    <div class="wide-p mw7">
        <p>The lightweight snas.io collector puts network data including information about BGP peers and routing tables on a
		kafka message bus.</p>

	<p>Subscribe to various kafka topics to get real-time and historical data in tab-delimited format described in the
		<a href="/docs/message_bus_api">Message Bus Specification</a></p>

	<p>Example kafka data about BGP peers including capabilities and much more using open-source kafkacat utility-<p>
	<img src="/img/peer_output_for_website.png" alt="" class="left db mb1" style="width: 540px">

	<p>Example kafka data about IPv4 unicast prefixes with the prefix and prefix-length highlighted in bold-<p>
	<img src="/img/prefix_output_for_website.png" alt="" class="left db mb1" style="width: 540px">

	<p>Coming soon...kafka data in a custom format based on user-defined template-<p>
	<img src="/img/prefix_templated_output_for_website.png" alt="" class="left db mb1" style="width: 540px">

    </div>
</div>

{{ partial "footer" . }}
